.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 1s moveIn;
}
.panelEnter {
  left: 0;
}
.panelEnterActive {
  left: 300px;
  transition: left 200ms;
  animation: 1s moveOut;
}
.panelExit {
  left: 300px
}
.panelExitActive {
  left: 0;
  transition: left 200ms;
  animation: 1s moveIn;
}


@keyframes moveIn {
  0% {
    left: 320px;
  }
  100% {
    left: 0px;
  }
}

@keyframes moveOut {
  0% {
    left: 0px;
  }
  100% {
    left: 320px;
  }
}
